.homeContainer {
  /* column-count: 2; */
  width: 90%;
  margin: 20px auto;
  /* position: relative; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.homeLink {
  margin: 10px;
  text-decoration: none;
  display: inline-block;
  break-inside: avoid-column;
}

.homeCard {
  min-width: 300px;
  overflow: none;
  text-overflow: ellipsis;
}

.homeCard:hover {
  background-color: #1976d220;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  line-clamp: 2;
  max-height: 400px;
  -webkit-box-orient: vertical;
  width: 325px;
  font-weight: 600;
}

.homeFilter {
  display: flex;
  margin: auto;
  justify-content: center;
  margin-top: 30px;
  margin-right: 15px;
}
.homeFilter div {
  padding: 5px 70px;
  border: 1px solid #e1e1e1;
}

.homeFilter div:hover {
  background-color: #1976d220;
}

.active {
  background-color: #1976d220;
}
