.homeContainer {
  column-count: 2;
  width: 90%;
  margin: 20px auto;
  position: relative;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
}

.profile {
  background-color: black;
  height: 100%;
}
.homeLink {
  margin: 10px;
  text-decoration: none;
  display: inline-block;
  break-inside: avoid-column;
}

.homeCard {
  min-width: 300px;
}

.homeCard:hover {
  background-color: #1976d220;
}

.description {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 325px;
}

.homeFilter {
  display: flex;
  margin: auto;
  justify-content: center;
  margin-top: 30px;
  margin-right: 15px;
}
.homeFilter div {
  padding: 5px 70px;
  border: 1px solid #e1e1e1;
}

.homeFilter div:hover {
  background-color: #1976d220;
}

.active {
  background-color: #1976d220;
}
