.homeContainer {
  /* column-count: 3; */
  width: 90%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.homeLink {
  margin: 10px;
  text-decoration: none;
  min-width: 400px;
}

.homeCard {
  min-width: 300px;
}

.homeCard:hover {
  background-color: #1976d220;
}

.description {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 325px;
  line-height: 25px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.homeFilter {
  /* width: 90%; */
  display: flex;
  margin: auto;
  justify-content: right;
  margin-top: 30px;
  margin-right: 15px;
}
.homeFilter div {
  padding: 5px 70px;
  border: 1px solid #e1e1e1;
}

.homeFilter div:hover {
  background-color: #1976d220;
}

.active {
  background-color: #1976d220;
}
