.box {
  color: black;
  padding: 0.5rem 2.5rem !important;
  border-bottom: 1px solid #e1e1e1;
  user-select: none;
  cursor: pointer;
}
.box:hover {
  background-color: #1976d220;
}

a {
  text-decoration: none;
}

.box p {
  color: black;
  height: 26px;
  font-size: 16px;
  line-height: 2rem;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  font-family: sans-serif;
  font-weight: 300;
}

.box h6 {
  margin: 0;
  font-family: sans-serif;
  font-weight: 600;
}

.searchScroll::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
.searchScroll::-webkit-scrollbar-thumb {
  background: #ff0000;
}

.searchScroll {
  max-height: 500px;
  overflow: scroll;
  position: absolute;
  background-color: white;
  z-index: 100;
  /* margin: 10px 0px; */
  width: 500px;
  /* padding: 10px; */
  border-radius: 12px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: 1px solid #e1e1e1;
  border-top: 0;
}
