/* .homeLink {
  margin: 10px;
  text-decoration: none;
  display: inline-block;
  break-inside: avoid-column;
}
.homeContainer {
  width: 90%;
  margin: 20px auto; */

/* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
/* } */

.questioncard {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 200px !important;
}
